.atras {
left: -130px;
top: 500px;
position: fixed;
}

.trabajos{
 left:50px;
 top:200px;
 position:absolute;
}

.tapapabo{
 left:690px;
 top:320px;
 position:absolute;
}


.per2{
	position:absolute;
	top: -10px; 
	z-index:20;
	width: 700px;
	height: 400px;
	left: 480px;
	background:url(peri2.png);
	background-size: cover;
}

.atras {
left: -130px;
top: 500px;
position: fixed;
}