
.atras {
left: -130px;
top: 500px;
position: fixed;
}


.per1{
	position:absolute;
	top: -10px; 
	z-index:20;
	width: 700px;
	height: 400px;
	left: 480px;
	background:url(per1.png);
	background-size: cover;
}

.trabaj{
 left:50px;
 top:200px;
 position:absolute;
}


.parci{
left:500px;
 top:200px;
 position:absolute;
}


